<div class="container p-3">
  <div class="card">
    <div class="card-header">Accounts</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>DATE CREATION</th>
          <th>TYPE</th>
          <th>NAME</th>
          <th>BALANCE</th>
          <th>INTEREST RATE</th>
          <th>OVER DRAFT</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts | async">
          <td>{{account.createdAt | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
          <td>{{account.type}}</td>
          <td>{{account.customerDTO.name}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.interestRate}}</td>
          <td>{{account.overDraft}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
