<div class="container mt-2">
  <ng-container *ngIf="customerObservable | async as customerPagination; else failureOrLoading">
    <div class="card">
      <div class="card-header">
        <div class="h1">Customers</div>
        <button *ngIf="authService.roles.includes('ADMIN')" (click)="goToNewCustomer()" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
          New Customer
        </button>
      </div>
      <div class="card-body">

        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
            <div class="input-group">
              <label class="input-group-text">Keyword</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>

        <table class="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th *ngIf="authService.roles.includes('ADMIN')">ACTIONS</th>
            <th>ACCOUNT</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerPagination.customerDTOS">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td *ngIf="authService.roles.includes('ADMIN')">
              <button (click)="handleEditCustomer(customer)" class="btn btn-success ms-2">
                <i class="bi bi-pen"></i>
              </button>
              <button (click)="handleDeleteCustomer(customer)" class="btn btn-danger ms-2">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button (click)="handleCustomerAccounts(customer)" class="btn btn-success">
                Accounts
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(customerPagination.totalPages);let page=index">
            <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(page)"
               class="btn  ms-1 mt-1">{{page + 1}}</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>
  </ng-template>

</div>
