<div class="container-md p-3">
  <div class="card w-100 h-100">
    <div class="card-header">
      <div class="h1"> Dashboard</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="w-50 h-25">
          <div class="h3">Pie Chart Operations Type</div>
          <app-pie-chart-operations></app-pie-chart-operations>
        </div>
        <div class="w-50 h-25">
          <div class="h3">Pie Chart Accounts Type</div>
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
      <div class="row mt-2">
        <div class="w-50 h-75">
          <div class="h3">Bar Chart Accounts of Customers</div>
          <app-bar-chart></app-bar-chart>
        </div>
        <div class="w-50 h-75">
          <div class="h3">Line Chart Operations By Date</div>
          <app-line-chart-operations></app-line-chart-operations>
        </div>
      </div>
      <div class="row mt-2">
        <div class="w-75">
          <div class="h3">Accounts</div>
          <app-display-accounts></app-display-accounts>
        </div>
      </div>
      <div class="row mt-2">
        <div class="w-75">
          <div class="h3">Customers</div>
          <app-customers></app-customers>
        </div>
      </div>
    </div>
  </div>
</div>
