<div class="container p-3">
  <div class="card">
    <div class="card-header">
      Dashboard
    </div>
    <div class="card-body">
      <span class="badge bg-primary">Customers : {{customersCount$}}</span>
      <span class="badge bg-warning">Accounts : 4</span>
      <span class="badge bg-danger">Operations : 4</span>
    </div>
    <div class="row">
      <div class="w-25">
        <app-bar-chart></app-bar-chart>
      </div>
      <div class="w-25">
        <div class="h3">Pie Chart Accounts</div>
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="w-25">
        <div class="h3">Pie Chart Operations</div>
        <app-pie-chart-operations></app-pie-chart-operations>
      </div>
      <div class="w-25">
        <div class="h3">Line Chart Operations</div>
        <app-line-chart-operations></app-line-chart-operations>
      </div>
    </div>
  </div>
</div>
